<div>
    {{ general.brand | header: general.slogan, logo }}
    
    <div class="product product--detail {{ theme.theme }} {{ theme.layout }}">
        <div class="product__container">
            <div class="product__row">
                <div class="col-xs-12">
                    <h2>{{ product.name }}</h2>
                    {{ product.image | image }}
                </div>
                <div class="col-xs-12">
                    <form class="product__form">
                        <label for="productQuantity">Quantity:</label>
                        <input type="number"
                            name="productQuantity"
                            min="0"
                            id="productQuantity"
                            autocorrect="off"
                            autocapitalize="off">
                        
                        <input type="submit" value="Order" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ theme.theme | footer }}

</div>
