<div>
    <header className="App-header">
        <h2>{{general.brand | capitalize}}</h2>
        <p>{{ general.slogan }}</p>
    </header>
    
    <div class="product {{ theme.theme }} {{ theme.layout }}">
        <div class="product__container">
            <div class="product__row">
                <h2>{{ product.name }}</h2>
                {{ product.image | image }}
            </div>
        </div>
    </div>
    
    <!-- {{ 'form-login' | form }} -->

    <!-- <div>
    <label for="customerEmail">Email Address</label>
    <input type="email"
        name="customer[email]"
        id="customerEmail"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email">
    </div>
    <div>
    <label for="customerPassword">Password</label>
    <input type="password"
        name="customer[password]"
        id="customerPassword">
    </div>

    <input type="submit" value="Sign In" /> -->

</div>
