<div>
    {{ general.brand | header: general.slogan, logo }}

    <div class="product {{ theme.theme }} {{ theme.layout }}">
        <div class="product__container">
            <div class="product__row">
                {% for product in products -%}
                <div class="product__col">
                    <div class="product__item">
                        {{ product.image | image }}
                        <p class="name">product name</p>
                        <a href="/product/{{ product.id }}" class="link">View detail</a>
                    </div>
                </div>
                {% endfor -%}
            </div>
        </div>
    </div>
    
    <!-- {{ 'form-login' | form }} -->

    <!-- <div>
    <label for="customerEmail">Email Address</label>
    <input type="email"
        name="customer[email]"
        id="customerEmail"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email">
    </div>
    <div>
    <label for="customerPassword">Password</label>
    <input type="password"
        name="customer[password]"
        id="customerPassword">
    </div>

    <input type="submit" value="Sign In" /> -->
    {{ theme.theme | footer }}

</div>
